<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
     xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
    <channel>
        <title><![CDATA[{{ channel['snippet']['title'] }}]]></title>
        <link>https://www.youtube.com/channel/{{ channel['id'] }}</link>
        <description>{{ channel['snippet']['description'] }}</description>
        <language>en-us</language>

        <image>
            <url>{{ channel['snippet']['thumbnails']['high']['url'] }}</url>
        </image>

        {% for item in videos %}
        <item>
            <title><![CDATA[{{ item.snippet.title }}]]></title>
            <link>https://www.youtube.com/watch?v={{ item.id }}</link>
            <description><![CDATA[{{ item.snippet.description }}]]></description>
            {% if item.snippet.thumbnails.maxres is defined %}
            <itunes:image href="{{ item.snippet.thumbnails.maxres.url }}" />
            <googleplay:image href="{{ item.snippet.thumbnails.maxres.url }}" />
            {% elif item.snippet.thumbnails.high is defined %}
            <itunes:image href="{{ item.snippet.thumbnails.high.url }}" />
            <googleplay:image href="{{ item.snippet.thumbnails.high.url }}" />
            {% else %}
            <itunes:image href="{{ item.snippet.thumbnails.default.url }}" />
            <googleplay:image href="{{ item.snippet.thumbnails.default.url }}" />
            {% endif %}
            <enclosure{% if video %}
                url="{{ server.scheme }}://{{ server.hostname }}{% if server.port is not none %}:{{server.port}}{%endif%}/download/{{ item.id }}.{{ filetype.video }}"
                type="video/{{ filetype.video }}"
                {% else %}
                url="{{ server.scheme }}://{{ server.hostname }}{% if server.port is not none %}:{{server.port}}{%endif%}/download/{{ item.id }}.{{ filetype.audio }}"
                type="audio/{{ filetype.audio }}"
                {% endif %}/>
            {% if video %}
            <guid>video/{{ item.id }}</guid>
            {% else %}
            <guid>audio/{{ item.id }}</guid>
            {% endif %}
            <pubDate>{{ item.snippet.publishedAt }}</pubDate>
            <itunes:duration>{{ item.contentDetails.duration }}</itunes:duration>
        </item>
        {% endfor %}
    </channel>
</rss>
