<h1 id="epizodes">Epizodes</h1>
<p>Convert any YouTube channel into a downloadable playlist</p>
<h2 id="how-to-use-epizodes">How to use <code>epizodes</code></h2>
<h3 id="head-over-to-youtube-in-your-browser-and-find-the-url-of-your-favorite-user-channel-or-playlist.">1. Head over to YouTube in your browser, and find the URL of your favorite user, channel, or playlist.</h3>
<p>The URL will look like one of these:</p>
<ul>
<li><code>https://m.youtube.com/user/latenight</code></li>
<li><code>https://www.youtube.com/channel/UCVTyTA7-g9nopHeHbeuvpRA</code></li>
<li><code>https://www.youtube.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb</code></li>
</ul>
<h3 id="open-up-your-podcasts-app-and-add-a-new-podcast-by-url.-copy-and-paste-in-the-url-from-step-1-replacing-the-domain-with-your-epizodes-install.">2. Open up your podcasts app and add a new podcast by URL. Copy and paste in the URL from step 1, replacing the domain with your <code>epizodes</code> install.</h3>
<p>Your modified URL should look like one of these:</p>
<ul>
<li><code>https://epizodes.example.com/user/latenight</code></li>
<li><code>https://epizodes.example.com/channel/UCVTyTA7-g9nopHeHbeuvpRA</code></li>
<li><code>https://epizodes.example.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb</code></li>
</ul>
<p>Epizodes generates audio podcasts by default. If you'd like a video podcast instead, simply add <code>?vid=1</code> to the end of the URL.</p>
<ul>
<li><code>https://epizodes.example.com/user/latenight?vid=1</code></li>
<li><code>https://epizodes.example.com/channel/UCVTyTA7-g9nopHeHbeuvpRA?vid=1</code></li>
<li><code>https://epizodes.example.com/playlist?list=PLUl4u3cNGP61Oq3tWYp6V_F-5jb5L2iHb&amp;vid=1</code></li>
</ul>
<h3 id="hit-subscribe.-youre-all-set.-you-can-now-download-and-refresh-episodes-just-like-with-any-other-podcast.">3. Hit subscribe. You're all set. You can now download and refresh episodes, just like with any other podcast.</h3>
<h2 id="setup">Setup</h2>
<p>You'll need to place your YouTube API in the environment variable <code>YOUTUBE_API_KEY</code></p>
